.scroll-x {
  display: flex;
  justify-content: left;
  // background-color: green;
  overflow: auto;
  white-space: nowrap;
  scrollbar-color: none;
}


a, .nav-link {
  color: white;
  margin: .5rem;
  padding: .5rem;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  background-color: black;
  border-radius: 100px;
  border: .1rem solid transparent;
  background: 
    linear-gradient(black, black) padding-box, /* inner background */
    linear-gradient(to right, #ff79c6, #44b1ff) border-box; /* border */
  // border-image: linear-gradient(to right, #ff79c6, #44b1ff ) 1;
  // overflow: hidden;
  // color: #ff79c6;

  // color: #fff;
  // color: black;
  color: white;
  transition: color 0.3s ease;
}

a:hover, .nav-link:hover, .active{
/* Cotton candy blue */
  color: #44b1ff;
  // background: 
  //   linear-gradient(to right, black, #ff79c6) padding-box, /* inner background */
  //   linear-gradient(to right, #ff79c6, #44b1ff) border-box; /* border */
} 

