.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background-color: #111; // Adjust based on your theme color
}

.home-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.home-column {
  flex: 1;
}

.hero-unit {
  padding: 2rem;
  background-color: #2e2e2e;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.hero-description {
  color: #bbb;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.divider {
  border: 1px solid #444;
  margin: 1rem 0;
}

.hero-info {
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.btn-explore-orders {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff68b3;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-explore-orders:hover {
  background-color: #ff3385;
}

@media (max-width: 768px) {
  .hero-unit {
    padding: 1rem;
  }

  .hero-title {
    font-size: 1.6rem;
  }

  .hero-description,
  .hero-info {
    font-size: 1rem;
  }

  .btn-explore-orders {
    padding: 8px 15px;
    font-size: 1rem;
  }
}
