.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #44475A, #282A36);
  border-left: 2px solid #FF79C6; /* Cotton candy pink divider */
  border-top: 1px solid #ccc; // Mobile border divider
  overflow: hidden;

  @media (min-width: 768px) {
    border-left: 1px solid #ccc;
    border-top: none;
  }

  .message-list-container {
    flex: 1;
    overflow-y: auto; // Enable independent scrolling
    padding: 1rem;
    background: transparent;
    scroll-behavior: smooth;
    //defining the hight of the chatroom allows for scrolling to be enabled in desktop view
    max-height: calc(100vh - 4rem);

    // .message {
    //   padding: 0.75rem;
    //   margin-bottom: 0.5rem;
    //   border-radius: 10px;
    //   color: #F8F8F2;
    //   background: linear-gradient(to right, #6272A4, #FF79C6); /* Blue to pink */
    //   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    // }
    .message {
      margin: 0.5rem 0;
      padding: 0.75rem 1rem;
      border-radius: 8px;
      // major change
      // max-width: 75%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      color: #F8F8F2;
      font-family: 'Roboto', sans-serif;
      line-height: 1.4;
    
      /* Shared hover effect for all messages */
      &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
      }
    
      /* Display sender name with reduced opacity for subtle emphasis */
      .sender {
        font-size: 0.85rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
        opacity: 0.8;
      }
    }
    
    /* Style for own messages */
    .own-message {
      background: linear-gradient(to right, #6272A4, #44475A); /* Cotton candy blue to dark gray */
      align-self: flex-end;
      border: 1px solid #FF79C6; /* Subtle pink border for emphasis */
    }
    
    /* Style for other users' messages */
    .other-message {
      background: linear-gradient(to right, #FF79C6, #BD93F9); /* Pink to light purple */
      align-self: flex-start;
      border: 1px solid #6272A4; /* Subtle blue border */
    }
    

    @media (max-width: 767px) {
      max-height: calc(100vh - 50% - 4rem); // Dynamic height to keep stream visible
    }
  }

  .input-container {
    position: sticky;
    bottom: 0;
    display: flex;
    padding: 0.5rem;
    background: #1A1A1A;
    border-top: 1px solid #ccc;

    .input-field {
      flex: 1;
      padding: 0.75rem;
      border: none;
      background: #282A36;
      color: #F8F8F2;
      outline: none;

      &:focus {
        border: 2px solid #6272A4;
      }
    }

    .send-button {
      margin-left: 0.5rem;
      padding: 0.75rem 1.5rem;
      background: linear-gradient(to right, #6272A4, #FF79C6);
      color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

      &:hover {
        background: linear-gradient(to right, #FF79C6, #6272A4);
      }
    }
  }
}
