.absolute-block {
  //   background-color: red;
  z-index: 10;
  position: absolute;
  background-color: white;
  border-radius: 15px;
}

@media screen and (max-width: 480px) {
  .absolute-block {
    left: 0;
    width: 100%;
  }
}
