.stream-player-container {
    height: 50vh; // Slightly larger stream area for better focus
  width: 100%;
  border: 2px solid #FFB6C1; // Neon cotton candy border
  box-shadow: 0 0 10px rgba(255, 182, 193, 0.8); // Glow effect
  border-radius: 15px; // Smooth edges for the player
}

@media only screen and (max-width: 500px) {
    .stream-player-container {
        height: 40vh;
        width: 100%;
    }
}