.message-list-container {
  // margin-bottom: 16px;
  // width: 400px;
  // margin-top: 10px;
  flex: 1;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: hotpink black;
}

.message-list-container::-webkit-scrollbar {
  display: none;
}

.message-list {
  height: 376px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  color: #db0a5b;
  padding: 8px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 8px;

  background: rgb(248, 203, 246);
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 0 5px rgba(248, 203, 246, 1); /* Glowing effect */
}

.own-message {
  color: #3455db;
  background: rgb(178, 208, 248);
  align-self: flex-end;
  text-align: right;
  box-shadow: 0 0 5px rgba(178, 208, 248, 1); /* Glowing effect */
}

.sender {
  margin-bottom: 8px;
}

input[type="text"] {
  font-size: 16px;
  width: 100%;
  background-color: black;
  // padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  // border-bottom: 1px solid grey;
  // color: rgb(178, 208, 248) ;
}

.input-container {
  display: flex;
  justify-content: stretch;
}

.comment-container {
  height: 438px;
}

@media only screen and (max-width: 500px) {
  .message-list {
    height: calc(100vh - 410px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .message-list-container {
    // margin-bottom: 16px;
    flex-grow: 1;
    width: 100%;
    flex: 1;
    overflow: scroll;
    scrollbar-width: thin;
  }

  .comment-container {
    height: auto;
  }
}
