.stream-container {
  flex: 3;
  background: radial-gradient(circle, #1a1a1a, #282a36);
  display: flex;
  justify-content: center;
  // align-items: center;

  // new styles for traveling player
  .stream-player {
    position: fixed;
    transition: all 0.5s ease-in-out;
  
    &.mini {
      bottom: 1rem;
      right: 1rem;
      width: 16rem;
      height: 9rem;
      border-radius: 0.5rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      z-index: 50;
    }
  
    &.full {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 40;
    }
  }
  

  iframe,
  .react-player-container {
    width: 100%;
    height: 100%;
    border: 2px solid #6272a4; /* Subtle cotton candy blue outline */
    box-shadow: 0px 0px 15px 5px rgba(98, 114, 164, 0.5); /* Blue glow */
  }
  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }
  /* Light up the background when the user hovers */
  &:hover {
    background: linear-gradient(145deg, #44475a, #1a1a1a);
  }
}

// .stream-container {
//   flex: 3;
//   background: #000;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   iframe,
//   .react-player-container {
//     width: 100%;
//     height: 100%;
//   }

//   /* Make sure the background color contrasts well */
//   background-color: #1a1a1a;
//   color: #ffffff; /* Light text for contrast */
// }
