.label-container {
    width: 200px;
    padding: 0rem 2rem;
    .label {
        // color: green;
        padding: 20px;
        
        .input {
        // background-color: #ff79c6;
        // background-color: $pink;
        padding: 2px;
        }
    }
}

    