.Dashboard-Nav {
   nav {
    // padding-left: 20px;
    }
    a {
        // padding: 1rem;
        font-size: 1rem;
        text-decoration: none;
        // color: #fff;
        // color: black;
        // color: #ff79c6;
        transition: color 0.3s ease;
    }

    a:hover{
    /* Cotton candy blue */
        // color: #44b1ff;
    } 

    .active {
        // color: #44b1ff;
    }
}

