.comment__new {
    input[type=text] {
        border: 2px solid #35F0FD;
        border-radius: 4px;
        background-color: #9B0363;
        color: #35F0FD;
        font-family: "Press Start 2P";
        font-size: 8;
    }
}