.splash-container {
    height: 100vh;
    text-align: center;
    font-family: 'Press Start 2P';
    color: black;
    padding-top: 15%;

    .splash-icon {
        display: "flex";
        align-items: "center";
        justify-content: "center";
    }
}

// .splash-icon {
//     display: "flex";
//     align-items: "center";
//     justify-content: "center";
// }